<section class="card">
    <div class="card-header">
        <form novalidate class="form-inline" (ngSubmit)="search()" [formGroup]="searchForm">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="dditCode" class="col-md-4">字段编号</label>
                    <input class="form-control col-md-8" id="dditCode" name="dditCode" type="text"
                           formControlName="dditCode"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="dditName" class="col-md-4">字段名称</label>
                    <input class="form-control col-md-8" id="dditName" name="dditName" type="text"
                           formControlName="dditName"/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="startEndTime" class="col-md-3">创建时间</label>
                    <input id="startEndTime" name="startEndTime" class="form-control col-md-9" type="text"
                           formControlName="startEndTime"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="createBy" class="col-md-4">创建人</label>
                    <input id="createBy" name="createBy" class="form-control col-md-8" type="text"
                           formControlName="createBy"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="dditStatus" class="col-md-4">状态</label>
                    <select class="form-control col-md-8" name="dditStatus" id="dditStatus"
                            formControlName="dditStatus">
                        <option value="">全部</option>
                        <option value="0">禁用</option>
                        <option value="1">启用</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-outline-success mr-2 mb-2" type="submit" style="margin-top: 8%;">查询</button>
                    <button class="btn btn-outline-primary mr-2 mb-2" type="button" style="margin-top: 8%;"
                            (click)="showAddModal(true)">新增
                    </button>
                    <button class="btn btn-outline-warning mr-2 mb-2" type="button" style="margin-top: 8%;"
                            (click)="getDdit(dditId)">编辑
                    </button>
                    <button class="btn btn-outline-warning mr-2 mb-2" type="button" style="margin-top: 8%;"
                            (click)="queryDetail(dditId)">详情
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <table datatable [dtOptions]="dtOptions" class="table table-hover nowrap" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    <!--增加字典模式框-->
    <ng-template #content let-c="close">
        <form novalidate (ngSubmit)="saveDdit()" [formGroup]="saveForm">
            <input type="hidden" name="id" id="dditId" formControlName="id">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">{{titleName}}字典</h5>
                <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label" for="dditCodeModal">字段编号</label>
                    <input id="dditCodeModal" class="form-control" type="text" formControlName="dditCode"
                           (change)="checkCode()">
                    <div class="error" *ngIf="saveForm.get('dditCode').invalid && saveForm.get('dditCode').touched">
                        字段编号不能为空，且长度在1-15字符之间
                    </div>
                    <div class="error"
                         *ngIf="flag">
                        字段编号已重复
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="dditNameModal">字段名称</label>
                    <input id="dditNameModal" class="form-control" type="text" formControlName="dditName">
                    <div class="error" *ngIf="saveForm.get('dditName').invalid && saveForm.get('dditName').touched">
                        字段名称不能为空，且长度在1-15字符之间
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="dditStatusModal">状态</label>
                    <select id="dditStatusModal" name="dditStatus" class="form-control" formControlName="dditStatus">
                        <option value="0">禁用</option>
                        <option value="1">启用</option>
                    </select>
                    <div class="error" *ngIf="saveForm.get('dditStatus').invalid && saveForm.get('dditStatus').touched">
                        请选择字段状态
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary width-150" [disabled]="saveForm.invalid || flag">保存
                </button>
                <button type="button" class="btn" data-dismiss="modal" (click)="c('Close click')">关闭</button>
            </div>
        </form>
    </ng-template>
</section>
