<!-- START: tables/basic-tables -->
<section class="card">
    <div class="card-header">
        <form novalidate (ngSubmit)="searchData(true)" [formGroup]="searchForm">
            <div nz-row>
                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
                    <div class="form-group">
                        <label>模板名称：</label>
                        <input class="form-control col-md-6" nz-input id="tempName" name="tempName" type="text"
                               formControlName="tTName">
                    </div>
                </div>
                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
                    <div class="form-group">
                        <label>状态：</label>
                        <nz-select formControlName="status"  style="width: 50%" [(ngModel)]="selectedValue"  nzAllowClear nzPlaceHolder="请选择状态">
                            <nz-option nzValue="" nzLabel="全部"></nz-option>
                            <nz-option nzValue="1" nzLabel="生效"></nz-option>
                            <nz-option nzValue="0" nzLabel="失效"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="2">
                    <button nz-button class="btn btn-outline-success" type="submit">查&nbsp;&nbsp;询</button>
                </div>
                <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="2">
                    <button nz-button class="btn btn-outline-primary" nzType="primary" (click)="addTemplate()">新&nbsp;&nbsp;增
                    </button>
                </div>
                <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="2">
                    <button nz-button class="btn btn-outline-warning" [disabled]="disabledButton" nzType="primary"
                            [nzLoading]="operating" (click)="disableAll()">
                        禁&nbsp;&nbsp;用
                    </button>
                </div>
                <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="2">
                    <button nz-button class="btn btn-outline-warning mr-2 mb-2" nzType="primary"
                            (click)="clearSearchSet()">
                        重&nbsp;&nbsp;置
                    </button>
                </div>

            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <nz-table
                        #ajaxTable
                        nzShowSizeChanger
                        [nzFrontPagination]="false"
                        [nzData]="dataSet"
                        [nzLoading]="loading"
                        [nzTotal]="total"
                        [(nzPageIndex)]="pageIndex"
                        [(nzPageSize)]="pageSize"
                        (nzPageIndexChange)="searchData()"
                        (nzPageSizeChange)="searchData(true)"
                        [nzSize]='size'>
                    <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr>
                        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                            (nzCheckedChange)="checkAll($event)"></th>
                        <th nzShowSort nzSortKey="tTName">模版名称</th>
                        <!--<th>类型名称</th>-->
                        <th>说明</th>
                        <th nzShowSort nzSortKey="createDate">创建时间</th>
                        <th nzShowSort nzSortKey="createBy">创建人</th>
                        <th nzShowSort nzSortKey="updateDate">修改时间</th>
                        <th nzShowSort nzSortKey="updateBy">修改人</th>
                        <th nzShowSort nzSortKey="status">状态</th>
                        <th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of ajaxTable.data">
                        <td nzShowCheckbox [(nzChecked)]="data.checked"
                            (nzCheckedChange)="refreshStatus($event)"></td>
                        <td>
                            <div class="editable-cell">
                                <div class="editable-cell-text-wrapper">
                                    <ng-container *ngIf="!editCache[data.id].edit">
                                        {{data.tTName}}
                                    </ng-container>
                                    <ng-container *ngIf="editCache[data.id].edit">
                                        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.tTName">
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="editable-cell">
                                <div class="editable-cell-text-wrapper">
                                    <ng-container *ngIf="!editCache[data.id].edit">
                                        {{data.comment}}
                                    </ng-container>
                                    <ng-container *ngIf="editCache[data.id].edit">
                                        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.comment">
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>{{data.createDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{data.createBy}}</td>
                        <td>{{data.updateDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{data.updateBy}}</td>
                        <td *ngIf=" data.status == 0 ">失效</td>
                        <td *ngIf=" data.status == 1 ">生效</td>
                        <td>
                            <a  *ngIf=" data.status == 1 " (click)="showDetail(data,0)">查看&nbsp;&nbsp;</a>
                            <a  *ngIf=" data.status == 1 " (click)="showDetail(data,1)">编辑模版&nbsp;&nbsp;</a>

                            <nz-popconfirm  *ngIf=" data.status == 1 "  [nzTitle]="'确定禁用?'" (nzOnConfirm)="disable(data.id)">
                                <a nz-popconfirm>禁用</a>
                            </nz-popconfirm>
                            <nz-popconfirm *ngIf=" data.status == 0 " [nzTitle]="'确定启用?'" (nzOnConfirm)="enable(data.id)">
                                <a nz-popconfirm>启用</a>
                            </nz-popconfirm>

                            <div   style="float: left" class="editable-row-operations">
                                <ng-container *ngIf="!editCache[data.id].edit && data.status == 1 "  >
                                    <a (click)="startEdit(data)">编辑</a>
                                </ng-container>
                                <ng-container *ngIf="editCache[data.id].edit">
                                    <a (click)="saveEdit(data.id)">保存</a> &nbsp;&nbsp;
                                    <nz-popconfirm [nzTitle]="'确认取消?'" (nzOnConfirm)="cancelEdit(data.id)">
                                        <a nz-popconfirm>取消</a>
                                    </nz-popconfirm>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</section>

<nz-modal [(nzVisible)]="isVisible"
          nzTitle="Modal Title"
          [nzFooter]="modalFooter"
          [nzTitle]="modalTitle"
          (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>模版名称</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <input nz-input id="tTName" formControlName="tTName" placeholder="请填写模版名称">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>说明</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <input nz-input id="comment" formControlName="comment" placeholder="请填写说明">
            </nz-form-control>
        </nz-form-item>
        <!--<nz-form-item>-->
            <!--<nz-form-label [nzSpan]="7" nzRequired>模版类型</nz-form-label>-->
            <!--<nz-form-control [nzSpan]="12">-->
                <!--<nz-select formControlName="monitorTypeId">-->
                    <!--<nz-option *ngFor="let type of typeSet" [nzValue]="type.id" [nzLabel]="type.mTypeName"></nz-option>-->
                <!--</nz-select>-->
            <!--</nz-form-control>-->
        <!--</nz-form-item>-->
    </form>
    <ng-template #modalTitle>
        新增表格模版
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="submitForm()">保存</button>
    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="inspectVisible"
          nzTitle="Inspect Template"
          [nzFooter]="inspectTemplateFooter"
          [nzTitle]="inspectTemplateTitle"
          (nzOnCancel)="inspectTemplateCancel()"
          (nzOnOk)="inspectTemplateOK()" [nzOkLoading]="inspectTemplateIsOkLoading"
          [nzClosable]=false
          [nzWidth]="800">

    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
        <tr *ngFor="let row of templateObj">
            <td *ngFor="let cell of row" width="100px" height="20px" align="center">
                <input nz-input *ngIf="!isInspect" [(ngModel)]="cell.cellvalue" value=""/>
                <span *ngIf="isInspect">{{cell.cellvalue}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-lg-3" style="margin-top: 2%;">
        <button *ngIf="!isInspect" nz-button nzType="primary" (click)="submitModifiedTemplate()">保存</button>
    </div>
    <ng-template #inspectTemplateFooter></ng-template>
    <ng-template #inspectTemplateTitle>
        <span *ngIf="isInspect">查看模版</span>
        <button *ngIf="!isInspect" class="pull-right" nz-button (click)="reset()">重制</button>
        <button *ngIf="!isInspect" class="pull-right" nz-button (click)="AddColumnWhenInspect()">增加列数</button>
        <button *ngIf="!isInspect" class="pull-right" nz-button nzType="primary" (click)="addRowWhenInspect()">新增行
        </button>
        <span *ngIf="!isInspect">编辑模版</span>
    </ng-template>
</nz-modal>
