<!-- START: tables/datatables -->
<section class="card">

    <div class="card-header">
        <form novalidate (ngSubmit)="search()" [formGroup]="searchForm">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="tempName">模板名称</label>
                        <input class="form-control" id="tempName" name="tempName" type="text"
                               formControlName="tempName"/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="tempStatusModal">模板状态</label>
                        <select class="form-control" name="tempStatus" id="tempStatus" formControlName="tempStatus">
                            <option value="">全部</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3" style="margin-top: 2%;">
                    <button class="btn btn-outline-success mr-2 mb-2" type="submit">查询</button>
                    <button class="btn btn-outline-primary mr-2 mb-2" id="addData" type="button"
                            (click)="showAddTemp()">新增
                    </button>
                    <button class="btn btn-outline-warning mr-2 mb-2" type="button"
                            (click)="getRiskTempById(riskTempId)">
                        编辑
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <table datatable [dtOptions]="dtOptions" class="table table-hover nowrap" width="100%"></table>
                </div>
            </div>
        </div>
    </div>

    <!--新增页面-->
    <ng-template #content let-c="close">
        <form novalidate (ngSubmit)="saveRiskTemp()" [formGroup]="saveForm">
            <input type="hidden" name="id" id="tempId" formControlName="id">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">新增模板</h5>
                <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="tempNameModal">模板名称</label>
                            <input id="tempNameModal" class="form-control" type="text" formControlName="tempName">
                            <div class="error"
                                 *ngIf="saveForm.get('tempName').invalid && saveForm.get('tempName').touched">
                                字段名称不能为空，且长度在2-8字符之间
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="tempTypeModal">模板类型</label>
                            <input id="tempTypeModal" class="form-control" type="text" formControlName="tempType">
                            <div class="error"
                                 *ngIf="saveForm.get('tempType').invalid && saveForm.get('tempType').touched">
                                字段名称不能为空，且长度在2-8字符之间
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="tempRemarkModal">模板说明</label>
                            <input id="tempRemarkModal" class="form-control" type="text" formControlName="tempRemark">
                            <div class="error"
                                 *ngIf="saveForm.get('tempRemark').invalid && saveForm.get('tempRemark').touched">
                                字段名称不能为空，且长度在2-8字符之间
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="tempStatusModal">模板状态</label>
                            <select id="tempStatusModal" name="tempStatus" class="form-control"
                                    formControlName="tempStatus">
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                            <div class="error"
                                 *ngIf="saveForm.get('tempStatus').invalid && saveForm.get('tempStatus').touched">
                                请选择字段状态
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary width-150" [disabled]="saveForm.invalid">保存</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="c('Close click')">关闭</button>
            </div>
        </form>
    </ng-template>
</section>
<!-- END: tables/datatables -->
