<!-- START: tables/basic-tables -->
<section class="card">
    <div class="card-header">
        <form novalidate (ngSubmit)="searchData()" [formGroup]="searchForm">
            <div class="nz-row">
                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="6">
                    <div class="form-group">
                        <label class="col-md-4">新闻名称：</label>
                        <input class="form-control col-md-6" nz-input id="nsTitle" name="nsTitle" type="text"
                               formControlName="nsTitle">
                    </div>
                </div>

              <!--  <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="5">
                    <div class="form-group">
                        <label>状态：</label>
                        <nz-select formControlName="status" style="width: 150px;" [(ngModel)]="selectedValue"
                                   nzAllowClear nzPlaceHolder="请选择是否显示">
                            <nz-option nzValue="" nzLabel="全部"></nz-option>
                            <nz-option nzValue="1" nzLabel="显示"></nz-option>
                            <nz-option nzValue="0" nzLabel="不显示"></nz-option>
                        </nz-select>
                    </div>
                </div>-->

                <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="2">
                    <button nz-button class="btn btn-outline-success mr-2 mb-2" type="submit">查询</button>&nbsp;&nbsp;
                </div>
                <div nz-col nzXs="3" nzSm="3" nzMd="3" nzLg="3" nzXl="2">
                    <button nz-button class="btn btn-outline-success mr-2 mb-2" (click)="addNews()">新增</button>&nbsp;&nbsp;
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <nz-table #basicTable [nzData]="riskNews"
                          nzShowSizeChanger
                          nzBordered
                          nzSize="small"
                          [nzFrontPagination]="false"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="pageIndex"
                          [(nzPageSize)]="pageSize"
                          (nzPageIndexChange)="searchData()"
                          (nzPageSizeChange)="searchData(true)">
                    <thead>
                    <tr>
                        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                            (nzCheckedChange)="checkAll($event)"></th>
                        <th>新闻名称</th>
                        <!--<th>类别</th>-->
                        <th>发布时间</th>
                        <th>发布人</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td nzShowCheckbox [(nzChecked)]="data.checked"
                            (nzCheckedChange)="refreshStatus($event)"></td>
                        <td>{{data.nsTitle}}</td>
                        <!--<td>{{data.nsType}}</td>-->
                        <td>{{data.createDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{data.createBy}}</td>
                        <td>{{data.status == 1 ? '显示' : '不显示'}}</td>
                        <td>
                            <a *ngIf=" data.edit == false " (click)="details(data)">查看&nbsp;&nbsp;</a>
                            <a *ngIf=" data.edit == true " (click)="editNews(data)">编辑&nbsp;&nbsp;</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>

    <!-- 新增News -->
    <nz-modal [(nzVisible)]="isNewsVisible" nzTitle="发布新闻" [nzWidth]="1000" [nzFooter]="addNewsFooter"
              (nzOnCancel)="handleNewsCancel()">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
            <input name="id" type="hidden" formControlName="id">
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>标题</nz-form-label>
                <nz-form-control [nzSpan]="16" nzHasFeedback>
                    <input nz-input formControlName="nsTitle" placeholder="请输入标题">
                    <nz-form-explain
                            *ngIf="validateForm.get('nsTitle').dirty && validateForm.get('nsTitle').errors || validateForm.get('nsTitle').pending ">
                        <ng-container *ngIf="validateForm.get('nsTitle').hasError('required')">
                            请输入标题！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>状态</nz-form-label>
                <nz-form-control [nzSpan]="16" nzHasFeedback>
                    <nz-select name="status" formControlName="status" nzPlaceHolder="请选择状态">
                        <nz-option nzValue="0" nzLabel="不显示"></nz-option>
                        <nz-option nzValue="1" nzLabel="显示"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <!--<nz-form-item>-->
                <!--<nz-form-label [nzSpan]="3" nzRequired>类型</nz-form-label>-->
                <!--<nz-form-control [nzSpan]="16" nzHasFeedback>-->
                    <!--<nz-select name="nsType" formControlName="nsType" nzPlaceHolder="请选择类型">-->
                        <!--<nz-option nzValue="0" nzLabel="综合"></nz-option>-->
                        <!--<nz-option nzValue="1" nzLabel="分类二"></nz-option>-->
                        <!--<nz-option nzValue="2" nzLabel="分类三"></nz-option>-->
                    <!--</nz-select>-->
                <!--</nz-form-control>-->
            <!--</nz-form-item>-->
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>正文;</nz-form-label>
                <nz-form-control [nzSpan]="25">
                    <ueditor required name="form_source" name="nsContent"
                             formControlName="nsContent" [config]="config"></ueditor>
                    <nz-form-explain *ngIf="validateForm.get('nsContent').dirty&&validateForm.get('nsContent').hasError('required')">
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" (click)="handleNewsOk()" [disabled]="!validateForm.valid">确定
                    </button>
                </nz-form-control>
            </nz-form-item>

            <ng-template #addNewsFooter>

            </ng-template>
        </form>
    </nz-modal>



    <!-- 新增News -->
    <nz-modal [(nzVisible)]="isShowNewsVisible" nzTitle="发布新闻" [nzWidth]="1000" [nzFooter]="addNewsFooter"
              (nzOnCancel)="handleNewsCancel()">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
            <input name="id" type="hidden" formControlName="id">
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>标题</nz-form-label>
                <nz-form-control [nzSpan]="16" nzHasFeedback>

                    <input nz-input formControlName="nsTitle"   readonly>

                    <nz-form-explain
                            *ngIf="validateForm.get('nsTitle').dirty && validateForm.get('nsTitle').errors || validateForm.get('nsTitle').pending ">
                        <ng-container *ngIf="validateForm.get('nsTitle').hasError('required')">
                            请输入标题！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>状态</nz-form-label>
                <nz-form-control [nzSpan]="16" nzHasFeedback>
                    <nz-select name="status" formControlName="status" nzPlaceHolder="请选择状态" nzDisabled>
                        <nz-option nzValue="0" nzLabel="不显示"></nz-option>
                        <nz-option nzValue="1" nzLabel="显示"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>正文;</nz-form-label>
                <nz-form-control [nzSpan]="25"  >
                    <ueditor required name="form_source" name="nsContent"
                             formControlName="nsContent" [config]="configLook"></ueditor>

<!--
                    <textarea nz-input   [nzAutosize]="{ minRows: 2, maxRows: 6 }" formControlName="nsContent" [disabled]="true"></textarea>
-->

                    <nz-form-explain *ngIf="validateForm.get('nsContent').dirty&&validateForm.get('nsContent').hasError('required')">
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <ng-template #addNewsFooter>

            </ng-template>
        </form>
    </nz-modal>

</section>
<!-- END: tables/basic-tables -->
